$primary: #00acc2;
// $secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning:#FEBB26;
$danger: #DC3545;
$light: #f1f2f2;
$dark: #22252a;
$gray: #b1b1b1;
$black: #000000;

$theme-colors: (
  "primary": $primary,
  // "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "gray": $gray,
  "black": $black,
);

$link-decoration: none;
$link-hover-decoration: underline;

$font-family-base: "Ubuntu", sans-serif;
$input-placeholder-color: black;
$enable-rounded: true;
$enable-shadows: true;

$dropdown-border-radius: 0;
$dropdown-border-width: 0;

$dropdown-link-color: black;
$dropdown-link-hover-color: $primary;
$dropdown-link-hover-bg: transparent;
$dropdown-font-size: 1.125rem;



$breadcrumb-font-size: 1.125rem;

$input-border-radius: 0;
$form-select-border-radius: 0;

$btn-padding-y-lg: .75rem;
$btn-font-size-lg: 1.125rem;

$pagination-color: black;
$pagination-hover-color: black;
$pagination-active-color: white;
$input-placeholder-color: $gray;

$headings-color: inherit;