:root {
	--primary: #00acc2;
	--dark: #1b1e22;
	--gray: #b1b1b1;
}

* {
	font-family: 'Ubuntu', sans-serif;
}

a {
	-webkit-transition: .35s;
	-moz-transition: .35s;
	transition: .35s;
}

body {
	font-family: "Ubuntu", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
}

.control-group {
	width: 100%;
	margin-bottom: 0;
}

.control-group .control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	appearance: none;
	border-radius: 0;
	margin: 0;
	box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn.btn-primary {
	background: var(--primary);
}

.control-group .control:focus {
	border-color: var(--dark);
}

a:link {
	color: var(--dark);
}

a:hover,
a:visited,
a:focus,
a:active {
	color: var(--primary);
}

.control-group .control-error {
	font-size: .875rem;
}

.header {
	margin: 0;
}

.se-pre-con {
	display: none !important;
}

.dropdown-list {
	margin-bottom: 0;
	border-bottom: 5px solid var(--primary);
	min-width: 10rem;
	padding: 0.5rem 0;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: 0.25rem 1rem;
	clear: both;
	font-weight: 400;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	color: inherit;
}

.header-top .left-content-menu {
	display: flex;
	gap: 15px;
}

.header-top .locale-img {
	margin-right: 10px;
}

.la,
.las {
	font-size: 1.125rem;
}

.header .top-bar {
	background-color: #f2f2f2;
	padding: 4px 0 8px 0;
}

.header .header-top {
	margin-bottom: 0;
}

.main-container-wrapper {
	max-width: 1140px;
}

.header .header-top div.left-content .menu-box {
	display: none;
}

.header .middle-bar .header-top div.right-content .right-content-menu {
	display: flex;
	gap: 1.5rem;
}

.header .middle-bar .header-top div.right-content .right-content-menu>li {
	border: none;
	text-align: center;
	padding: 0;
}

.header .middle-bar .header-top div.right-content .right-content-menu>li>a {
	display: block;
	position: relative;
	color: inherit;
	padding: 10px 5px 0 0;
	font-weight: 300;
}

.header .middle-bar .header-top div.right-content .right-content-menu>li>.dropdown-toggle {
	display: block;
	position: relative;
	padding: 10px 15px 0 0;
	font-weight: 300;
}

.header .middle-bar .header-top div.right-content .right-content-menu>li .las {
	font-size: 1.5rem;
	color: var(--primary);
}

.header .middle-bar .header-top div.right-content .right-content-menu>li .count {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	background: white;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 18px;
	font-size: .75rem;
	text-align: center;
	border: 1px solid var(--dark);
	color: var(--dark);
	border-radius: 50%;
}

.header .header-top div.right-content .right-content-menu ul.dropdown-list {
	margin-top: 10px;
}

.header .header-top div.right-content .right-content-menu .account li {
	padding: 12px 20px !important;
}

.header .header-top div.right-content .right-content-menu .cart-dropdown-container .dropdown-list .dropdown-container .dropdown-footer .btn .las {
	font-size: inherit;
	color: inherit;
}

.header .header-top div.left-content ul.search-container li.search-group form {
	display: flex;
	align-items: stretch;
	position: relative;
}

.header .header-top div.left-content ul.search-container li.search-group .search-field,
.header .header-top div.left-content ul.search-container li.search-group form select,
.header .header-top div.left-content ul.search-container li.search-group form .search-icon-wrapper {
	border: 1px solid var(--primary);
}

.header .header-top div.left-content ul.search-container li.search-group select {
	border-top-left-radius: 5rem;
	border-bottom-left-radius: 5rem;
	font-size: 1rem;
	padding-left: 12px;
}

.header .header-top div.left-content ul.search-container li.search-group .search-field {
	border-top-right-radius: 5rem;
	border-bottom-right-radius: 5rem;
	margin-left: -1px;
	padding-right: 80px;
	height: 50px;
	font-size: 1rem;
	min-width: 450px;
}

.header .header-top div.left-content ul.search-container li.search-group form .search-icon-wrapper {
	border-width: 1px 1px 1px 0px;
	-webkit-border-radius: 5rem;
	-moz-border-radius: 5rem;
	border-radius: 5rem;
	position: absolute;
	right: 0;
	top: 0;
	width: 70px;
	height: 100%;
	z-index: 1;
	background: var(--primary);
}

.header .header-top div.left-content ul.search-container li.search-group .search-icon-wrapper button {
	background: var(--primary);
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	border-radius: 5rem;
	cursor: pointer;
}

.header .header-top div.left-content ul.logo-container li a {
	display: flex;
}

.header .header-top div.left-content ul.logo-container {
	margin-right: 4rem;
}

.header .middle-bar {
	padding: 1.5rem 0;
}

.header .header-top div.right-content .right-content-menu .cart-dropdown-container .dropdown-list .dropdown-container .dropdown-footer {
	flex-direction: column-reverse;
	gap: .5rem;
}

.header .header-top div.right-content .right-content-menu .cart-dropdown-container .dropdown-list .dropdown-container .dropdown-footer .btn {
	max-width: 100%;
}

.btn {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#scrollTop {
	position: fixed;
	bottom: 30px;
	right: 20px;
	background-color: var(--primary);
	color: white;
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 55px;
	z-index: 9999;
	cursor: pointer;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	border-radius: 1rem;
}

.newsletter-subscription {
	background-color: var(--primary);
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.newsletter-subscription form {
	display: flex;
	align-items: center;
}

.newsletter-subscription h2 {
	color: white;
	flex: 100%;
	margin: 2rem ​0;
}

.newsletter-subscription .control-group {
	display: flex;
	align-items: stretch;
}

.newsletter-subscription .control-group button {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	border-top-right-radius: 1rem !important;
	border-bottom-right-radius: 1rem !important;
	font-weight: bold;
	height: 40px;
}

.newsletter-subscription .control-group .control {
	height: 40px;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.newsletter-subscription .control-group .control:focus {
	border-color: white;
}

.btn.btn-black {
	background: var(--dark);
}

.footer.footer-copyright {
	background-color: #1b1d20;
}

.footer-copyright-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}

.footer {
	background-color: #22252a;
	padding: 0;
}

.animated-loader {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	background: rgba(255, 255, 255, 0.75);
	z-index: 99999;
}

.animated-loader:before,
.animated-loader:after {
	content: " ";
	width: 48px;
	height: 48px;
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -24px;
	margin-left: -24px;
}

.animated-loader:before {
	border-radius: 50%;
	border: 6px solid var(--gray);
}

.animated-loader:after {
	border-radius: 50%;
	border: 6px solid transparent;
	border-top-color: var(--primary);
	-webkit-animation: spin 1s ease-in-out infinite;
	animation: spin 1s ease-in-out infinite;
}

.footer {
	color: var(--gray);
}

.row {
	place-content: flex-start !important;
	align-items: flex-start;
}

.footer-statics {
	gap: 1rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.footer-statics>* {
	flex: 1;
}

.software-description {
	order: 2;
	text-align: center;
	padding-top: .5rem;
}

.footer-ct-content {
	order: 1;
}

.footer-rt-content {
	order: 3;
}

.footer-statics .logo {
	max-width: 130px;
	height: auto;
}

.footer-ct-content h2,
.footer-rt-content h2 {
	color: white;
	margin-top: 0;
	margin-bottom: 10px;
}

.footer-ct-content ul[type="none"] li {
	position: relative;
	padding-left: 1.25rem;
}

.footer-ct-content ul[type="none"] li+li {
	margin-top: .25rem;
}

.footer-ct-content ul[type="none"] a {
	color: var(--gray);
}

.footer-ct-content ul[type="none"] a:hover {
	text-decoration: underline;
}

.footer-ct-content ul[type="none"] a::before {
	content: "\f068";
	font-family: 'Line Awesome Free';
	font-weight: 900;
	position: absolute;
	top: .25rem;
	left: 0;
	font-size: .75rem;
}

.footer-ct-content .row {
	gap: 1rem;
}

.footer-ct-content .row>* {
	flex: 100%;
}

.shipment-option h4 {
	color: white;
}

.method-sticker::before {
	content: "\f068";
	font-family: 'Line Awesome Free';
	font-weight: 900;
	font-size: .75rem;
	margin-right: 5px;
}

.header .header-top div.right-content .right-content-menu ul.dropdown-list li a:not(.btn) {
	display: block;
}

.header .header-top div.right-content .right-content-menu ul.dropdown-list li a:not(.btn):hover {
	color: var(--primary);
}

.header .header-top div.right-content .right-content-menu ul.dropdown-list li .btn {
	font-size: .875rem;
	color: white;
}

.header .header-bottom {
	border: none;
	background-color: var(--primary);
	height: auto;
}

.header .header-bottom ul.nav {
	justify-content: center;
	display: flex;
	font-weight: 300;
}

.header .header-bottom .nav>li {
	float: none;
	margin: 0;
	height: auto;
}

.header .header-bottom .nav>li>a {
	color: white;
	font-size: 1.125rem;
	padding: 0.75rem 1rem;
	white-space: nowrap;
}

.header .header-bottom .nav>li>a:hover {
	background-color: #009db1;
}

.header .header-bottom .nav>li:hover {
	background-color: transparent;
}

.header .header-bottom .main-container-wrapper {
	display: flex;
	gap: 1rem;
}

.header .header-bottom .header-bottom-sidemenu {
	flex: 0 0 auto;
}

.header .header-bottom .header-bottom-nav {
	flex: 1 0 0%;
}

.header .header-bottom .header-bottom-phone {
	flex: 0 0 auto;
}

.stellarnav .btn-all {
	padding: 1.063rem 1.5rem;
	font-weight: bold;
	border-top-right-radius: 5rem !important;
	border-bottom-right-radius: 5rem !important;
}

.stellarnav>ul>li {
	background: var(--primary);
}

.stellarnav.light ul ul {
	-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
	border-bottom: 5px solid var(--primary);
}

.stellarnav.light li li.has-sub>a::after {
	border-left-color: var(--gray);
}

.stellarnav.light li li+li {
	border-top: 1px solid rgba(177, 177, 177, 0.5);
}

.home-slider .swiper-slide img {
	width: 100%;
}

.home-slider .swiper-pagination-bullet {
	background: transparent;
	border: 1px solid black;
	width: 12px;
	height: 12px;
	opacity: 1;
}

.home-slider .swiper-pagination-bullet-active {
	background: black;
}

.advertisement-three-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 50px;
}

.advertisement-three-container>*:first-child {
	grid-row-start: 1;
	grid-row-end: -1;
}

.advertisement-three-container img {
	width: 100%;
	height: 100%;
	display: block;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	border-radius: 1rem;
}

nav.greedy button {
	background-color: #009db1;
}

.main-container-wrapper .product-card .product-image {
	position: relative;
	height: 250px;
	background: transparent;
	padding: 1rem;
	border: 1px solid #ddd;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	max-width: 100%;
	max-height: 100%;
	justify-content: center;
}

.main-container-wrapper .product-card .product-image img {
	width: 100% !important;
	height: auto !important;
}

.main-container-wrapper .product-card {
	padding: 0;
}

.main-container-wrapper .product-card .sticker.new {
	z-index: 1;
	border-radius: 0;
	box-shadow: none;
	font-size: 10px;
	top: 1rem;
	left: 1rem;
	background: var(--primary);
}

.main-container-wrapper .product-card:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.main-container-wrapper .product-card .card-quick-icon {
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	border-radius: 1rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: rgba(0, 0, 0, .5);
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	gap: .5rem;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: .35s;
	-moz-transition: .35s;
	transition: .35s;
}

.main-container-wrapper .product-card:hover .card-quick-icon {
	visibility: visible;
	opacity: 1;
}

.main-container-wrapper .product-card .card-quick-icon a {
	display: block;
	background: white;
	padding: .25rem .5rem;
	margin: 0 !important;
	-webkit-border-radius: .25rem;
	-moz-border-radius: .25rem;
	border-radius: .25rem;
	color: var(--dark);
}

.main-container-wrapper .product-card .card-quick-icon .add-to-wishlist.already {
	color: var(--primary);
}

.main-container-wrapper .product-card .card-quick-icon a i {
	font-size: 1rem;
}

.main-container-wrapper .product-card .product-name {
	color: var(--dark);
	margin-bottom: .25rem;
}

.product-price {
	margin-bottom: 0;
	color: var(--primary);
}

.text-center {
	text-align: center;
}

.featured-heading {
	display: flex;
}

.featured-heading .ftitle {
	flex: 1 1 0%;
	text-align: left;
	color: var(--dark);
	font-weight: bold;
	font-size: 1.5rem;
	position: relative;
	text-transform: capitalize;
}

.featured-heading .ftitle::before {
	content: "";
	width: 120px;
	height: 1px;
	background-color: var(--primary);
	position: absolute;
	left: 0;
	bottom: 0;
}

.featured-heading .fline {
	display: none;
}

.featured-heading .fbtn {
	flex: 0 0 auto;
	position: relative;
}

.featured-heading .fbtn a {
	text-transform: capitalize;
	font-size: .875rem;
	border: 1px solid var(--primary);
	padding: .25rem .5rem;
	border-radius: 1rem;
	color: var(--primary);
	display: block;
}

.featured-heading .fbtn a:hover {
	background-color: var(--primary);
	color: white;
}

.featured-heading .fbtn a i {
	font-size: inherit;
}

.recently-viewed-products-container .swiper-button-next,
.recently-viewed-products-container .swiper-button-prev {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	display: inline-flex;
	font-size: 1.25rem;
	color: var(--primary);
	margin-left: 0.5rem;
	vertical-align: bottom;
}

.recently-viewed-products-container .swiper-button-next:focus,
.recently-viewed-products-container .swiper-button-prev:focus {
	outline: none;
}

.recently-viewed-products-container .swiper-button-next.swiper-button-disabled,
.recently-viewed-products-container .swiper-button-prev.swiper-button-disabled {
	opacity: 1;
	color: var(--dark);
}

.recently-viewed-products-container .swiper-button-next:after,
.recently-viewed-products-container .swiper-container-rtl .swiper-button-prev:after {
	content: "\f30b";
}

.recently-viewed-products-container .swiper-button-prev:after,
.recently-viewed-products-container .swiper-container-rtl .swiper-button-next:after {
	content: "\f30a";
}

.recently-viewed-products-container .swiper-button-next:after,
.recently-viewed-products-container .swiper-button-prev:after,
.recently-viewed-products-container .swiper-container-rtl .swiper-button-next:after,
.recently-viewed-products-container .swiper-container-rtl .swiper-button-prev:after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: inherit;
}

.main-container-wrapper section.featured-products {
	margin-bottom: 50px;
}

.auth-container {
	margin: 6rem auto;
	-webkit-box-shadow: 0 0 100px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 0 100px rgba(0, 0, 0, .15);
	box-shadow: 0 0 100px rgba(0, 0, 0, .15);
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	border-radius: 1rem;
}

.login-auth-container {
	background-color: #DAF3F7;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}

.registration-auth-container {
	background-color: white;
	max-width: 600px;
}

.registration-auth-container .auth-content {
	padding: 3rem 0;
}

.login-auth-container .auth-content {
	padding: 6rem 0;
	background-color: white;
	border-radius: 0 1rem 1rem 0;
	flex: 1;
}

.auth-graphic-content {
	width: 500px;
	height: 500px;
	line-height: 500px;
	margin: 0 auto;
	background-color: white;
	text-align: center;
	border: 10px solid rgba(0, 172, 194, 0.35);
	border-radius: 50rem;
}

.auth-content .login-form {
	margin: 0;
	padding: 0 30px;
	max-width: 100%;
	min-width: auto;
	border: none;
}

.w-100 {
	width: 100%;
}

.auth-content .checkbox {
	margin-top: 0;
}

.auth-content .login-form .login-text {
	margin-bottom: 15px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

.auth-content .login-form .login-text+p {
	margin-bottom: 30px;
	margin-top: 0;
	text-align: center;
}

.auth-content .login-form .login-text span {
	display: block;
	line-height: 1;
	padding-bottom: 10px;
	position: relative;
}

.auth-content .login-form .login-text span::before {
	content: "";
	background-color: var(--primary);
	width: 150px;
	display: block;
	height: 1px;
	position: absolute;
	bottom: -1px;
	left: 50%;
	margin-left: -75px;
}

.auth-content .login-form .forgot-password-link {
	margin-bottom: 5px;
}

.registration-auth-container .auth-content .sign-up-text {
	margin: 0;
}

.registration-auth-container .auth-content .sign-up-text p {
	margin-bottom: 0;
}

.login-auth-container .auth-content .sign-up-text {
	margin-bottom: 15px;
}

.auth-content .sign-up-text {
	color: var(--dark);
	font-size: 1rem;
}

.auth-content .sign-up-text a {
	font-weight: bold;
}

.social-login-links {
	display: flex;
	justify-content: center;
	gap: 15px;
	overflow: hidden;
}

.social-login-links .link {
	min-width: auto !important;
	-webkit-border-radius: 5rem !important;
	-moz-border-radius: 5rem !important;
	border-radius: 5rem !important;
	width: 45px;
	height: 45px;
	line-height: 45px;
	padding: 0 0 0 3px !important;
	text-align: center;
}

.social-login-links .control-group {
	margin-bottom: 0 !important;
	width: auto !important;
}

.text-uppercase {
	text-transform: uppercase;
}

.account-content .menu-block .menubar {
	border: none;
}

.account-content .menu-block .menubar li {
	width: 100%;
	margin-left: 0;
	height: auto;
	border-bottom: none;
}

.account-content .menu-block .menubar li.active a {
	color: white;
	background-color: var(--dark);
}

.account-content .menu-block .menubar li a {
	color: var(--dark);
	display: block;
	background-color: #f1f2f2;
	padding: .75rem 1rem;
}

.account-content .menu-block .menubar li a i {
	margin-right: .25rem;
}

.account-content .menu-block .menubar li:not(.active) a:hover {
	background-color: #E7E8E8;
}

.account-content .menu-block .menu-block-title {
	font-weight: bold;
	text-transform: uppercase;
}

.account-content .sidebar {
	width: 25%;
}

.account-content .account-layout {
	margin-left: 0;
	width: 75%;
}

.account-content {
	gap: 30px;
}

.la-people::before {
	content: '\f007';
}

.la-contact_mail::before {
	content: '\f3c5';
}

.la-rate_review::before {
	content: '\f086';
}

.la-playlist_add_check::before {
	content: '\f004';
}

.la-compare::before {
	content: '\f2f1';
}

.la-shopping_cart::before {
	content: '\f07a';
}

.la-cloud_download::before {
	content: '\f381';
}

.table table thead th {
	background: var(--dark);
	color: white;
}

.table table thead>tr {
	height: auto;
}

.account-table-content table tbody tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, .05);
}

.table table {
	border-bottom: 1px solid #DEE2E6;
}

.account-table-content table thead tr th,
.account-table-content table tbody tr td {
	border: 1px solid #DEE2E6;
	vertical-align: middle;
	text-align: center;
}

.tabs ul li.active a {
	border-bottom-color: var(--primary);
	font-weight: bold;
}

.tabs ul li a {
	color: var(--dark);
}

.sale-section .title {
	font-weight: bold;
	color: var(--dark);
}

.sale-container .sale-section .secton-title {
	font-weight: bold;
	color: var(--primary);
}

.sale-container .sale-section .section-content .order-box-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}

.sale-container .sale-section .section-content .order-box-container .box {
	float: none;
	width: 100%;
}

.sale-container .sale-section .section-content .order-box-container .box .box-title {
	color: var(--primary);
	font-weight: bold;
}

.sale-container .sale-section .section-content .row .value {
	color: var(--dark);
}

.account-items-list .grid-container {
	margin-top: 0;
	display: grid;
	grid-gap: 15px;
}

.comparison-layout .comparison-component {
	padding: 0;
}

.comparison-layout .comparison-component>h1 {
	font-size: 1.5rem;
	color: var(--dark);
	font-weight: bold;
	margin: 0;
	display: block;
	border-bottom: 1px solid var(--gray);
	padding-bottom: 10px;
	position: relative;
}

.comparison-layout .comparison-component>h1::before {
	content: "";
	height: 1px;
	width: 150px;
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	background-color: var(--primary);
}

.comparison-layout .account-table-content {
	margin-top: 0;
}

.account-head .account-heading {
	font-size: 1.5rem;
	color: var(--dark);
	font-weight: bold;
}

.search-filter .control {
	border-width: 1px;
	border-radius: 0;
}

.search-filter .control:focus {
	border-color: var(--dark);
}

.search-filter .icon-wrapper {
	border-width: 1px;
	border-radius: 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-filter .icon-wrapper .search-icon {
	width: 20px;
	height: 20px;
}

.grid-dropdown-header {
	border-width: 1px;
	border-radius: 0;
	color: var(--gray);
}

.dropdown-filters .active .grid-dropdown-header {
	border-color: var(--dark);
}

.dropdown-filters .dropdown-container .d-flex {
	flex-direction: column;
	gap: 10px;
}

.dropdown-filters .dropdown-container .d-flex>* {
	width: 100%;
}

.dropdown-list.dropdown-container .apply-filter {
	background: var(--dark);
	color: white;
	border: 1px solid var(--dark);
	font-weight: bold;
	cursor: pointer;
}

.datagrid-filters {
	margin: 0;
}

div:empty {
	display: none;
}

.account-head {
	position: relative;
	border-bottom: 1px solid var(--gray);
	padding-bottom: 10px;
}

.account-head::before {
	content: "";
	height: 1px;
	width: 150px;
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	background-color: var(--primary);
}

.address-holder {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 50px;
	margin-top: 20px;
}

.address-card {
	width: 100%;
	border: none;
	padding: 0;
	margin: 0;
}

.address-card .details .control-links {
	width: 100%;
	justify-content: flex-start;
	gap: 1rem;
}

.address-card .details .control-links a {
	display: block;
	padding: .5rem;
	width: 100px;
	text-align: center;
	color: white;
	font-weight: normal;
	border-radius: 5rem;
}

.address-card .details .control-links a:hover {
	opacity: .75;
}

.address-card .details .control-links span:first-child a {
	background-color: var(--primary);
}

.address-card .details .control-links span:last-child a {
	background-color: var(--dark);
}

.account-head .account-action {
	font-size: 1rem;
	margin-top: 2px;
}

.account-head .account-action a {
	display: inline-block;
	background-color: var(--primary);
	color: white;
	padding: .25rem 1rem;
	border-radius: 5rem;
}

.account-head .account-action a:hover {
	opacity: .75;
}

#customer-address-form .control-group {
	margin-bottom: 15px;
}

.account-wishlist {
	background-color: #f2f2f2;
	border-bottom: 1px solid #ddd;
	margin-top: 30px;
}

.account-wishlist .account-item-card {
	margin: 0;
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-color: #ddd;
	align-items: stretch;
}

.account-wishlist .account-item-card .media-info .media {
	border-right: 1px solid #ddd;
	background-color: white;
	padding: 10px;
}

.account-wishlist .account-item-card .media-info .info {
	margin: 0;
	justify-content: flex-start;
	padding: 15px;
	font-weight: bold;
	gap: 5px;
}

.account-wishlist .account-item-card .operations {
	border-left: 1px solid #ddd;
	padding: 15px;
}

.account-wishlist .account-item-card .operations a {
	margin: 0;
	font-size: .875rem;
	-webkit-border-radius: 5rem !important;
	-moz-border-radius: 5rem !important;
	border-radius: 5rem !important;
}

.account-wishlist .account-item-card .operations a.btn-primary {
	background: var(--dark);
}

.review-list {
	margin-top: 30px;
}

.review-list .account-item-card {
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
}

.review-list .account-item-card+.account-item-card {
	margin-top: 50px;
}

.review-list .account-item-card .media-info {
	-webkit-box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, .15);
	box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, .15);
	width: 100%;
	flex-direction: row-reverse;
}

.review-list .account-item-card .media-info .info {
	margin: 0;
	width: 100%;
	justify-content: flex-start;
	padding: 1.5rem;
}

.review-list .account-item-card .media-info .media {
	display: block;
}

.review-list .account-item-card .media-info>a {
	display: flex;
	align-items: center;
}

.review-list .account-item-card .operations a {
	margin: 0;
}

.review-list .account-item-card .operations a:hover {
	opacity: .75;
}

.review-list .account-item-card .operations .trash-icon {
	height: auto;
	background: var(--dark);
	padding: .5rem 1rem;
	color: white;
	border-radius: 5rem;
	width: 100px;
	text-align: center;
}

.review-list .account-item-card .operations .trash-icon::before {
	content: "Delete"
}

.account-layout .edit-form {
	border: none;
	padding: 0;
	margin-top: 30px;
	gap: 15px;
}

.account-layout .edit-form .button-group {
	margin: 0;
}

.modal-container .modal-header+.modal-body {
	padding-top: 0;
}

.modal-container .modal-body .page-action {
	margin-top: 5px;
}

.account-profile-info {
    margin-top: 30px;
}

.account-profile-info p {
    margin-top: 0;
}

.account-profile-info .btn {
    width: 100px;
    -webkit-border-radius: 5rem !important;
    -moz-border-radius: 5rem !important;
    border-radius: 5rem !important;
}

.header .header-top div.right-content .right-content-menu .cart-dropdown-container .dropdown-list .dropdown-container .dropdown-content {
	padding-top: 0;
	max-height: 290px;
}

.header .header-top div.right-content .right-content-menu .cart-dropdown-container .dropdown-list .dropdown-container .dropdown-content .item {
	border-bottom-color: #ddd;
    padding: 10px 15px;
    gap: 10px;
}

.header .header-top div.right-content .right-content-menu .cart-dropdown-container .dropdown-list .dropdown-container .dropdown-content .item-remove button {
	border: 1px solid var(--dark);
    background: transparent;
    width: 20px;
    text-align: center;
    padding: 0;
    height: 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5rem;
    color: var(--dark);
}

.header .header-top div.right-content .right-content-menu .cart-dropdown-container .dropdown-list .dropdown-container .dropdown-content .item-remove button i {
	font-size: inherit;
	color: inherit;
}

.header .header-top div.right-content .right-content-menu .cart-dropdown-container .dropdown-list .dropdown-container .dropdown-content .item-details {
	flex: 1;
}

.header .header-top div.right-content .right-content-menu .cart-dropdown-container .dropdown-list .dropdown-container .dropdown-content .item img {
	margin-right: 0;
	display: block;
}

.header .header-top div.right-content .right-content-menu .cart-dropdown-container .dropdown-list .dropdown-container .item-details > * {
	margin-bottom: 0 !important;
}

.header .header-top div.right-content .right-content-menu .cart-dropdown-container .dropdown-list .dropdown-container .item-details .item-price {
	color: var(--primary);
}

.header .header-top div.right-content .right-content-menu .cart-dropdown-container .dropdown-list .dropdown-container .dropdown-footer p {
	margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.25rem;
}

#bn-mini-cart-grandTotal {
	color: var(--primary);
}

.order-summary-wrapper {
	border: 1px solid var(--primary);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    padding: 1.5rem;
}

.order-summary h3 {
    font-size: 1.25rem;
    color: var(--dark);
    border-bottom: 1px solid var(--primary);
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.order-summary .item-detail .right {
	color: var(--primary);
}

.order-summary .payable-amount {
    margin-bottom: 15px;
    margin-top: 15px;
    border-top-color: #ddd;
    font-size: 1.125rem;
}

.order-summary .payable-amount .right{
	color: var(--primary);
}

.cart-coupon-box {
	margin-top: 25px;
	margin-bottom: 30px;
}

.cart-coupon-box .btn-black {
	background: var(--primary);
	padding-left: .75rem;
    padding-right: .75rem;
}

.cart-coupon-box .coupon-form {
	display: flex;
    align-items: stretch;
}

.cart-coupon-box .coupon-form .control-group{
	margin: 0;
	flex: 1;
}

.cart-coupon-box .coupon-form .control-group .control-error {
	margin-top: 0;
}

.cart-coupon-box .coupon-form .control-group .control {
	height: 100%;
}

section.cart .cart-content .right-side {
    padding: 0;
    width: 33.33%;
}

section.cart .cart-content .left-side {
	width: 66.67%;
}

section.cart .cart-content {
	display: flex;
	gap: 30px;
}


section.cart .cart-item-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

section.cart .cart-item-list .item {
    padding: 0;
    border-color: #ddd;
}

section.cart .cart-item-list .item .item-image img {
    display: block;
    width: 80px;
    height: auto;
}

section.cart .cart-item-list .item .item-image {
    margin: 15px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 10px;
}

section.cart .cart-item-list .item .item-details .item-title {
	margin-bottom: 0;
	line-height: 1;
}


section.cart .cart-item-list .item .item-details .price {
	color: var(--primary);
	margin-bottom: 0;
	font-size: 1rem;
	line-height: 1;
}

section.cart .cart-item-list .item .item-details {
    gap: 10px;
    padding: 30px 15px 30px 0;
}

section.cart .cart-item-list .item .item-details .misc .control-group {
	margin: 0;
}

section.cart .cart-item-list .item .item-details .misc .control-group label {
	display: none;
}

section.cart .cart-item-list .single-item {
	position: relative;
}

section.cart .cart-item-list .single-item .item-footer {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1;
}

section.cart .cart-item-list .single-item .item-footer a {
    background: var(--dark);
    color: white;
    border-radius: 5rem;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
}

section.cart .cart-item-list .single-item .item-footer a i {
    font-size: inherit;
}

section.cart .cart-content .left-side .misc-controls .link {
	background: var(--dark);
    color: white;
}

section.cart .cart-content .left-side .misc-controls .btn {
	padding: .5rem .75rem;
}

section.cart .cart-content .left-side .misc-controls {
	margin-top: 30px;
}

section.cart .title {
	font-weight: bold;
	position: relative;
}

section.cart .title::before{
	content: "";
    width: 120px;
    height: 1px;
    background-color: var(--primary);
    position: absolute;
    left: 0;
    bottom: 0;
}



.checkout-process {
	color: inherit;
	gap: 30px;
}

.checkout-process .col-main {
    width: 66.67%;
    margin-right: 0;
}

.checkout-process .col-right {
    width: 33.33%;
    padding-left: 0;
}

.checkout-process .col-main .step-content .form-header h1 {
	color: var(--dark);
}

.checkout-process .col-main .step-content .form-container .control-group {
	margin-bottom: 15px;
}

.checkout-process .col-main .step-content .form-container {
	padding: 0;
	border-bottom-color: #ddd;
}

.checkout-process .col-main .step-content .form-container + .form-container {
	margin-top: 20px;
}

.checkout-process .col-main .step-content .form-header {
	height: auto;
}

.checkout-process .carrier-title {
	display: none;
}

.checkout-process .checkout-method-group {
	position: relative;
	margin-bottom: 15px;
	padding: 15px;
}

.checkout-process .checkout-method-group.active .radio-container {
	border-color: var(--primary);
}

.checkout-process .checkout-method-group .radio-container {
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
	margin: 0;
}

.checkout-process .radio-container .checkmark {
	margin-top: 16px;
	margin-left: 16px;
	border-color: #ddd;
}

.checkout-process .radio-container .checkmark:after {
	background-color: #ddd;
}

.checkout-process .checkout-method-group.active .radio-container .checkmark {
	border-color: var(--primary);
}

.checkout-process .checkout-method-group.active .radio-container .checkmark:after {
	background-color: var(--primary);
}

.checkout-process .checkout-method-group .line-one .method-label {
	margin-top: 0;
    margin-left: 30px;
}

.checkout-process .order-summary-section {
	padding: 1.25rem;
    border: 1px solid var(--primary);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
}

.checkout-process .col-main ul.checkout-steps li.active .decorator {
	border-color: var(--dark);
}

.checkout-process .col-main ul.checkout-steps li .decorator {
	border-color: #ddd;
}

.checkout-process .col-main ul.checkout-steps li.active {
	color: var(--dark);
}

.checkout-process .col-main ul.checkout-steps li.completed {
	color: var(--primary);
}

.checkout-process .col-main ul.checkout-steps li.completed .decorator {
	background-color: var(--primary);
	border-color: var(--primary);
}

.checkout-process .col-main ul.checkout-steps {
	border-bottom-color: #ddd;
}

.checkout-process .col-main ul.checkout-steps li span {
	font-weight: bold;
}

.checkout-process .coupon-form {
	display: flex;
}
.checkout-process .coupon-form .btn {
	padding-left: .75rem;
	padding-right: .75rem;
}

.checkout-process .coupon-container {
	margin-bottom: 20px;
	margin-top: 20px;
}

.checkout-process .coupon-container .discount-control .control-group {
	margin-top: 0;
	flex: 1;
}

.checkout-process .coupon-container .discount-control .control-group .control {
	height: 100%;
}


.checkout-process .coupon-container .discount-control .control-group .control-error {
	margin-top: 0;
}


.order-success-content {
	text-align: center;
}


.order-success-content img {
	width: 120px;
	height: auto;
	margin-bottom: 20px;
}

.order-success-content h1 {
	color: var(--primary);
    margin-bottom: 15px;
}

.order-success-content .misc-controls {
	margin-top: 30px;
}

.order-success-content .misc-controls .btn {
	-webkit-border-radius: 5rem !important;
	-moz-border-radius: 5rem !important;
	border-radius: 5rem !important;
}


.checkout-process .col-main .step-content .address-summary {
	gap: 30px;
}

.checkout-process .col-main .step-content .address-summary .billing-address,
.checkout-process .col-main .step-content .address-summary .shipping-address {
	flex: 1;
}

.checkout-process .col-main .step-content .address-summary div.billing-address {
	margin-right: 0;
}

.checkout-process .col-main .step-content .address-summary .card-title {
	margin-bottom: 10px;
	color: var(--primary);
}


.checkout-process .order-items-review-table {
	margin-top: 30px;
}

.checkout-process .order-items-review-table .table {
	border-bottom: 1px solid #ddd;
}

.checkout-process .order-items-review-table .table th,
.checkout-process .order-items-review-table .table td{
	padding: 8px;
	font-weight: bold;
	vertical-align: middle;
}

.checkout-process .order-items-review-table .table th {
	color: var(--primary);
}

.checkout-process .order-items-review-table .table td{
	border-top: 1px solid #ddd;
}

.checkout-process .order-items-review-table .table td img {
	border: 1px solid #ddd;
	padding: 10px;
	width: 80px;
	height: auto;
	display: block;
}

.text-left {
	text-align: left;
}

.product-detail .others-information-row {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    align-items: center;
}

section.product-detail div.layouter .form-container .details .quantity {
	display: block !important;
	padding-top: 0;
	border: none;
}

section.product-detail div.layouter .form-container .details .product-price {
	margin-bottom: 0;
}

section.product-detail div.layouter .form-container .details .stock-status {
	margin-bottom: 0;
}

section.product-detail div.layouter .form-container .details .other-info-title {
	padding-bottom: 0 !important;
	font-weight: bold;
}

section.product-detail .others-information {
	display: grid;
	grid-gap: 10px;
}

section.product-detail div.layouter .form-container .details .product-heading {
	font-weight: bold;
	margin-bottom: 5px;
}

section.product-detail .add-to-buttons {
	gap: 15px;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 15px;
	max-width: 400px;
}

section.product-detail .add-to-buttons a {
	color: var(--dark);
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
	font-weight: bold;
}

section.product-detail .add-to-buttons a i {
    margin: 0 !important;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    text-align: center;
    margin-right: 8px !important;
    line-height: 40px;
}

section.product-detail .add-to-buttons a.already i {
	border-color: var(--primary);
	background-color: var(--primary);
	color: white;
}

.bb-social-share {
    display: flex !important;
    gap: 15px !important;
    align-items: center !important;
	margin-top: 10px;
}

.bb-social-share__title {
    margin-bottom: 0 !important;
}

.bb-social-share__item a {
	display: flex;
}

.bb-social-share__item a svg {
    width: 1.25rem !important;
    height: 1.25rem !important;
}

section.product-detail .tab {
	display: none;
}

section.product-detail #description {
	position: relative;
}

section.product-detail #description::before {
    content: "Description";
    font-size: 1.25rem;
    color: var(--dark);
    font-weight: bold;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 5px;
}

section.product-detail #description::after {
	content: "";
    width: 100%;
    height: 1px;
    display: block;
    background: #ddd;
    top: 31px;
    left: 0;
    position: absolute;
    z-index: -1;
}

.rating-reviews .rating-header {
    font-size: 1.25rem;
    font-weight: bold;
    position: relative;
}

.rating-reviews .rating-header::before {
	content: "";
    width: 110px;
    height: 1px;
    display: block;
    background: var(--primary);
    top: 55px;
    left: 0;
    position: absolute;
}

.rating-reviews .rating-header::after{
	content: "";
	width: 100%;
	height: 1px;
	display: block;
	background: #ddd;
	top: 55px;
	left: 0;
	position: absolute;
	z-index: -1;
}

.rating-reviews .overall .review-info .total-reviews {
	font-weight: bold;
}

.rating-reviews .reviews .review {
    border-bottom: 1px solid #ddd;
	padding-bottom: 25px;
}

#reviews .product-ratings {
	display: none;
}

.rating-reviews .reviews .view-all {
	color: white;
    background-color: var(--dark);
    padding: .5rem 1rem;
	margin-bottom: 50px;
	display: inline-block;
}

.rating-reviews .reviews .view-all:hover {
	opacity: .75;
}

.rating-reviews .reviews .review .stars {
	margin-bottom: 10px;
}

.rating-reviews .reviews .review .reviewer-details {
	color: rgba(0, 0, 0, .5);
	font-style: italic;
	font-size: .875rem;
}

.rating-reviews .reviews .review .title {
	font-weight: bold;
}

.main-container-wrapper > .review {
	padding: 0;
	margin: 50px 0;
}

section.review .review-layouter .review-form .heading {
	margin-top: 0;
}
section.review .review-layouter .review-form .control-group {
	margin-bottom: 15px;
}

section.review .review-layouter .product-info .product-name {
	margin-top: 10px;
	font-weight: bold;
}


section.product-detail div.layouter .form-container {
	gap: 30px;
}

section.product-detail div.layouter .form-container .details {
	width: 100%;
}

section.product-detail div.layouter .form-container div.product-image-group {
	width: 100%;
	margin: 0;
}

section.product-detail {
	margin-top: 30px;
}

.product-hero-image .add-to-wishlist {
	display: none;
}