:root {
    --primary: #00acc2;
    --dark: #1b1e22;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.control-group {
    width: 100%;
}

.control-group .control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn.btn-primary {
    background: var(--primary);
}

.control-group .control:focus {
    border-color: var(--dark);
}

a:link {
    color: var(--dark);
}

a:hover, a:visited, a:focus, a:active {
    color: var(--primary);
}

.control-group .control-error {
    font-size: .875rem;
}

.header {
    margin: 0;
}

.se-pre-con {
    display: none !important;
}

.dropdown-list {
    margin-bottom: 0;
    border-bottom: 5px solid var(--primary);
    min-width: 10rem;
    padding: 0.5rem 0;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: inherit;
}


.header-top .left-content-menu {
    display: flex;
    gap: 15px;
}
.header-top .locale-img {
    margin-right: 10px;
}

.la, .las {
    font-size: 1.125rem;
}

.header .top-bar {
    background-color: #f2f2f2;
    padding: 4px 0 8px 0;
}

.header .header-top {
    margin-bottom: 0;
}

.main-container-wrapper {
    max-width: 1140px;
}

.header .header-top div.left-content .menu-box {
    display: none;
}

.header .middle-bar .header-top div.right-content .right-content-menu {
    display: flex;
    gap: 1.5rem;
}

.header .middle-bar .header-top div.right-content .right-content-menu > li {
    border: none;
    text-align: center;
    padding: 0;
}

.header .middle-bar .header-top div.right-content .right-content-menu > li > a {
    display: block;
    position: relative;
    color: inherit;
    padding: 10px 5px 0 0;
}

.header .middle-bar .header-top div.right-content .right-content-menu > li > .dropdown-toggle {
    display: block;
    position: relative;
    padding: 10px 15px 0 0;
}

.header .middle-bar .header-top div.right-content .right-content-menu > li .las{
    font-size: 1.5rem;
    color: var(--primary);
}

.header .middle-bar .header-top div.right-content .right-content-menu > li .count{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: white;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 18px;
    font-size: .75rem;
    text-align: center;
    border: 1px solid var(--dark);
    color: var(--dark);
    border-radius: 50%;
}

.header .header-top div.right-content .right-content-menu ul.dropdown-list {
    margin-top: 10px;
}

.header .header-top div.right-content .right-content-menu .account li {
    padding: 12px 20px !important;
}

.header .header-top div.right-content .right-content-menu .cart-dropdown-container .dropdown-list .dropdown-container .dropdown-footer .btn .las{
    font-size: inherit;
    color: inherit;
}

.header .header-top div.left-content ul.search-container li.search-group form{
    display: flex;
    align-items: stretch;
    position: relative;
}

.header .header-top div.left-content ul.search-container li.search-group .search-field,
.header .header-top div.left-content ul.search-container li.search-group form select,
.header .header-top div.left-content ul.search-container li.search-group form .search-icon-wrapper{
    border: 1px solid var(--primary);
}

.header .header-top div.left-content ul.search-container li.search-group select{
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    font-size: 1rem;
    padding-left: 12px;
}

.header .header-top div.left-content ul.search-container li.search-group .search-field {
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    margin-left: -1px;
    padding-right: 80px;
    height: 50px;
    font-size: 1rem;
    min-width: 450px;
}

.header .header-top div.left-content ul.search-container li.search-group form .search-icon-wrapper{
    border-width: 1px 1px 1px 0px;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    border-radius: 5rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 100%;
    z-index: 1;
    background: var(--primary);
}

.header .header-top div.left-content ul.search-container li.search-group .search-icon-wrapper button {
    background: var(--primary);
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 5rem;
    cursor: pointer;
}

.header .header-top div.left-content ul.logo-container li a {
    display: flex;
}

.header .header-top div.left-content ul.logo-container {
    margin-right: 4rem;
}

.header .middle-bar {
    padding: 1.5rem 0;
}