:root {
    --fontFamily: 'Nunito', sans-serif;
    --mainColor: #0EA1E2;
    --optionalColor: #4b5280;
    --whiteColor: #ffffff;
    --blackColor: #002F64;
    --fontSize: 16px;
    --transition: .5s;
}

.has-error {
    .form-control {
        border-color: #dc3545;
    }
}

.text-orange {
    color: var(--mainColor) !important;
}

.step-list.registration-ul li {
    width: 50px;
    height: 5px;
    background-color: var(--mainColor);
}
.step-list.registration-ul li.active {
    background-color: var(--blackColor);
}

.mean-container .mean-bar {
    z-index: 9999;
}

@media only screen and (max-width: 1199px) {
    .dibiz-responsive-nav .logo {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .about-content .funfacts-list li {
        flex: 0 0 100%;
        max-width: 100%;
    }
}