@media (max-width: 767.98px) {
	.datagrid-filters .dropdown-filters.per-page {
		margin-bottom: 10px;
		margin-right: 0;
	}
	.content-container .content .page-header .page-title,
	.content-container .content .page-header .page-action {
		float: none;
	}
	.content-container
		.content
		.page-header.force-responsive-breakable
		.page-title,
	.content-container
		.content
		.page-header.force-responsive-breakable
		.page-action {
		width: 100%;
	}
	.content-container .content .page-header .control-group {
		margin-left: 0;
		width: 100%;
	}
	.content-container .content .page-header .control-group + .control-group {
		margin-top: 10px;
	}
	.content-container .content .page-header .page-action a {
		margin-left: 0;
	}
	.control-group .control {
		width: 100%;
	}
	.content-container .content .page-header .page-action .export-import {
		margin-right: 15px;
	}
	.content-container .content .page-header {
		padding-right: 0;
	}
	.datagrid-filters .dropdown-filters {
		display: block;
	}
	.grid-dropdown-header {
		width: 100%;
	}
	.datagrid-filters .dropdown-filters.per-page .control-group .control {
		width: 100%;
	}
	.datagrid-filters .dropdown-filters.per-page .control-group label {
		margin-bottom: 5px;
	}
	.control-group label {
		width: 100%;
	}
	.configuration-image {
		max-width: 100%;
		width: auto;
		height: auto;
	}
	.content-container .content .page-header {
		margin-bottom: 25px;
	}
	.content-container .content .page-header.force-responsive-breakable {
		flex-direction: column;
		align-items: unset;
	}
	.content-container
		.content
		.page-header
		.page-action
		> div:not(.btn, .export-import, .action-list) {
		display: block;
	}
	.content-container .content .page-header .control-group {
		margin-left: 0;
	}
	.action_last_btn {
		margin-top: 10px;
	}
	.content-container .content .page-header .page-action .action-list {
		display: flex;
		gap: 15px;
		align-items: center;
	}
	.content-container
		.content
		.page-header
		.page-action
		.action-list
		.action_last_btn {
		width: 100%;
		margin-top: 0;
	}

	.content-container
		.content
		.page-header
		.page-action
		.action-list
		.control-group
		+ .control-group {
		margin-top: 0;
	}
	.checkout div.sale-container {
		padding-right: 0;
	}
	.checkout div.sale-summary {
		width: 100%;
		position: static;
	}
}

@media (max-width: 991.98px) {
	.datagrid-filters > * {
		flex: 100%;
	}
	.dashboard .graph-stats .left-card-container,
	.dashboard .graph-stats .right-card-container {
		width: 100%;
		padding: 0;
	}
	.admin-dropdown-toggle-content {
		display: none;
		background: #333;
		position: fixed;
		top: 60px;
		width: 100%;
		right: 0;
		z-index: 1;
	}
	.admin-dropdown-toggle.active .admin-dropdown-toggle-content {
		display: block;
	}

	.content-container .content-wrapper {
		margin-left: 0;
	}
	
	.control-group .control {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.datagrid-filters .filter-left .search-filter {
		max-width: 280px;
	}
	.content-container .content .page-header .control-group {
		margin-left: 0;
	}
	.content-container .content .page-header .control-group + .control-group {
		margin-left: 15px;
	}
	.action_last_btn {
		margin-left: 15px;
	}

	.dashboard .dashboard-stats {
		grid-template-columns: repeat(2, 1fr);
	}

	.dashboard .graph-stats {
		grid-template-columns: repeat(3, 1fr);
	}
	.dashboard .graph-stats > div:first-child {
		grid-column: 2 span;
	}
	.buynoir-navbar-logo a {
		width: 235px;
	}
	.dropdown-toggle span {
		display: inline-block;
		margin-left: 7px;
	}
}

@media (min-width: 992px) {
	.navbar-left {
		left: 0;
	}
	.buynoir-dashboard-container {
		padding-left: 250px;
		-webkit-transition: all .35s;
		-moz-transition: all .35s;
		transition: all .35s;
	}
	.sidebar-toggle .navbar-left {
		left: -250px;
	}
	.sidebar-toggle .buynoir-dashboard-container {
		padding-left: 0;
	}
	.dashboard .dashboard-stats {
		grid-template-columns: repeat(4, 1fr);
	}
	.dashboard .sale-stock {
		grid-template-columns: repeat(2, 1fr);
	}
	.buynoir-navbar-l {
		flex-flow: row-reverse;
	}
}
