:root {
    --primary: #FC6700;
    --selection: #FC670060;
    --footerBG: #333333;
    --copyrightBG: #1C1D21;
    --bodyBG: #F6F6F6;
    --bodyColor: #333333;
    --newsletterBG: #F6F6F6;
    --policyBG: #3D3D3D;
    --headerBG: #F2F2F2;
    --borderColor: #EEEEEE;
    --errorColor: #FF0000;
    --sidebarBG: #F2F2F2;
    --sidebarActiveBG: #22252A;
}

* {
    font-family: 'Karla', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.las {
    font-size: 1.25rem;
}

body {
    letter-spacing: normal;
    line-height: 1.5;
    font-weight: 300;
    color: var(--bodyColor);
    background-color: var(--bodyBG);
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

.footer {
    background-color: var(--footerBG);
    padding-left: 0;
    padding-right: 0;
    color: white;
    position: relative;
}

.footer a {
    color: white;
}

.footer a:hover{
    color: var(--primary);
}

.footer.footer-copyright {
    background-color: var(--copyrightBG);
}

#scrollTop {
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: var(--primary);
    color: white;
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 55px;
    z-index: 9998;
    cursor: pointer;
}

::selection {
    background-color: var(--selection);
    color: #ffffff;
}

.footer-ct-content ul[type="none"] li {
    position: relative;
    padding-left: 1.25rem;
}

.footer-ct-content ul[type="none"] a::before {
    content: "\f068";
    font-family: 'Line Awesome Free';
    font-weight: 900;
    position: absolute;
    top: .25rem;
    left: 0;
    font-size: .75rem;
}

.footer-ct-content ul[type="none"] a:hover {
    text-decoration: underline;
}

.footer-ct-content .row>* {
    flex: 1;
}

.footer-ct-content .row {
    flex-direction: column;
}

.footer-statics>* {
    flex: 1;
}

.row {
    place-content: flex-start !important;
    align-items: flex-start;
}

.footer-copyright-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    gap: 20px;
    flex-direction: column;
}

.footer-copyright-inner p {
    margin: 0;
}

.footer-copyright-inner svg {
    display: block;
}

.footer-statics {
    gap: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    flex-direction: column;
}

.shipment-option h4 {
    margin-top: 20px;
    margin-bottom: 10px !important;
}

.payment-methods,
.shipping-methods {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.payment-methods .method-sticker,
.shipping-methods .method-sticker {
    padding: 3px 12px;
    background-color: white;
    color: var(--bodyColor);
    cursor: default;
}

.advertisement-four-container,
.advertisement-three-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 5rem;
}

.advertisement-four-container img,
.advertisement-three-container img {
    max-height: 250px;
    height: 100%;
    width: 100%;
}


.main-container-wrapper .product-grid-4 {
    grid-gap: 30px;
}

.main-container-wrapper .product-card {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main-container-wrapper .product-grid-3,
.main-container-wrapper .product-grid-4 {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.main-container-wrapper .product-card .product-image {
    margin-bottom: 0;
    max-width: unset;
    max-height: unset;
}

.main-container-wrapper .product-card .product-image a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card .product-information {
    position: relative;
    padding: 10px;
    height: 100%;
}
.product-card .product-information .product-name {
    text-align: center;
    font-weight: 400;
    margin-bottom: 5px;
}
.product-card .product-information .product-price {
    text-align: center;
    margin-bottom: 0;
    font-weight: 700;
    color: var(--primary);
}
.product-card .product-information .card-quick-icon {
    position: absolute;
    display: flex;
    gap: 30px;
    width: 100%;
    background: white;
    bottom: 0;
    left: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.main-container-wrapper .product-card .sticker.new {
    background: var(--primary);
}

.main-container-wrapper .product-card .sticker {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 12px;
    padding: 4px 12px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
}

.add-to-wishlist {
    margin: 0;
}

.product-card .product-information .card-quick-icon a {
    color: inherit;
    display: flex;
}

.product-card .product-information .card-quick-icon .add-to-wishlist.already {
    color: var(--primary);
}

.main-container-wrapper .product-card:hover .card-quick-icon {
    visibility: visible;
    opacity: 1;
}

.main-container-wrapper section.featured-products .featured-heading {
    display: flex;
    margin-bottom: 1.5rem;
}

.main-container-wrapper section.featured-products .featured-heading .ftitle {
    font-size: 2rem;
    font-weight: 300;
    text-transform: unset;
    text-align: left;
    line-height: 1;
}

.main-container-wrapper section.featured-products .featured-heading .ftitle span {
    display: block;
    font-weight: bold;
}

.control-group .control {
    margin: 0;
    padding: .5rem .75rem;
    height: 40px;
    border-width: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: .875rem;
    line-height: 1;
    width: 100%;
}

.control-group {
    width: auto;
    margin: 0;
}

.newsletter-subscription {
    background-color: var(--newsletterBG);
}

.newsletter-subscription .control-group {
    display: flex;
    align-items: stretch;
}

.btn {
    box-shadow: none;
    padding: .25rem .75rem;
}

.btn.btn-primary {
    background: var(--primary);
}

.control-group .control:focus {
    border-color: var(--primary);
}

.newsletter-subscription h2 {
    font-size: 2rem;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
}

.newsletter-subscription h2 span {
    font-weight: bold;
    display: block;
}

.newsletter-subscription p {
    margin-bottom: 0;
}

.newsletter-subscription form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    gap: 100px;
    padding: 80px 0;
}

.newsletter-subscription button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-transform: uppercase;
}

.product-policy-container {
    margin-bottom: 5rem !important;
    background-color: var(--policyBG);
    background-image: url(../images/policy-bg.jpg);
    color: white;
    padding: 4rem;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.product-policy-container > .row {
    gap: 3rem;
}

div.product-policy-container .card {
    padding: 0;
    border: none;
    background: transparent;
    margin: 0;
}

.product-policy-container .policy i {
    font-family: 'Line Awesome Free';
    font-weight: 900;
    font-style: normal;
}

.rango-van-ship::before {
    content: "\f1b9";
}

.rango-exchnage::before {
    content: "\f362";
}

.product-policy-wrapper {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.product-policy-wrapper .left {
    color: var(--primary);
    border: 1px solid var(--primary);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.product-policy-wrapper .right {
    font-size: 1.25rem;
    font-weight: bold;
}

.product-policy-wrapper:hover .left {
    color: white;
    background-color: var(--primary);
}

.software-description .border-bottom {
    margin-bottom: 15px;
}

.bn-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    font-weight: 400;
}

.bn-header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bn-header .nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    flex-direction: row-reverse;
}

.bn-header .nav > li {
    line-height: 1;
}

.bn-header .nav > li > a,
.bn-header .nav > li > .dropdown-toggle {
    display: inline-flex;
    align-items: center;
    color: black;
    gap: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
}

.bn-header .nav>li.compare-dropdown-container >a>.las,
.bn-header .nav>li.cart-dropdown-container>.dropdown-toggle>.las {
    margin-right: 20px;
}


.bn-header .nav > li > a > .counter,
.bn-header .nav > li > .dropdown-toggle > .counter {
    position: absolute;
    top: 15px;
    right: 0;
    background: var(--primary);
    color: white;
    padding: 2px;
    border-radius: 5rem;
    min-width: 20px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
}

.bn-header .nav > li > .dropdown-toggle > .la-angle-down,
.bn-header .nav > li > a > .la-angle-down {
    font-size: .875rem;
}

.bn-header-middle {
    display: flex;
    justify-content: center;
}

.bn-header-middle a {
    display: inline-block;
}

.bn-header-right {
    
}

.dropdown-list {
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 15rem;
    padding: 0.25rem 0;
}

.dropdown-list li + li {
    border-top: 1px solid var(--bodyBG);
}

.dropdown-list .search-form {
    padding: .75rem 1rem;
    display: grid;
    grid-gap: 10px;
}

.dropdown-list .search-form .btn {
    padding: 0.75rem;
}

.dropdown-list li a {
    padding: .5rem 1rem;
    display: flex;
    color: black;
    line-height: 1.5;
    gap: 10px;
    align-items: center;
}

.bn-header-right .dropdown-list{
    right: 0;
}


.cart-dropdown-container .dropdown-list {
    min-width: 24rem;
}

.dropdown-list .dropdown-container {
    padding: 1rem;
}

#bn-mini-carts .item + .item {
    margin-top: 15px;
}

#bn-mini-carts .item {
    display: flex;
    gap: 10px;
}

#bn-mini-carts .item .item-remove {
    display: flex;
    align-items: center;
    margin-left: auto;
}


#bn-mini-carts .item .item-details {
    padding: 5px 0;
}


#bn-mini-carts .item .item-details .item-name {
    font-weight: 400;
}

#bn-mini-carts .item .item-details .item-price{
    line-height: 1.5;
    color: var(--primary);
}

#bn-mini-carts .item .item-image {
        width: 70px;
        padding: 5px;
        border: 1px solid var(--borderColor);
        align-items: center;
        display: flex;
        justify-content: center;
}

#bn-mini-carts .item .item-remove button {
    background-color: var(--primary);
    border: none;
    width: 20px;
    text-align: center;
    padding: 0;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}


.cart-dropdown-container .dropdown-footer {
display: flex;
gap: 10px;
margin-top: 15px;
flex-direction: column-reverse;
}

.cart-dropdown-container .dropdown-footer p {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.cart-dropdown-container .dropdown-footer .btn {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .75rem 1rem;
}

button .las {
    font-size: inherit;
}

#bn-mini-cart-grandTotal {
    color: var(--primary);
}

#bn-mini-carts {
    max-height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 15px;
}

.main-container-wrapper .product-card .sticker.sale {
    background: var(--bodyColor);
    right: 15px;
    left: auto;
}

.product-price .special-price {
    color: inherit;
}

.product-price {
    margin-bottom: 0;
    font-size: 14px;
    color: var(--primaryColor);
    display: grid;
}

.product-price span {
    width: 100%;
    margin: 0 !important;
}

div.main-container-wrapper .product-card .product-image img {
    height: auto;
    width: auto;
}

.btn-all {
    color: black;
    background: transparent;
    padding: 0;
    font-weight: bold;
}

.btn-all:hover {
    opacity: 1;
}

.stellarnav.light {
    background-color: transparent;
}

.stellarnav {
    width: auto;
}

nav.greedy {
    flex: 1;
}


.stellarnav ul ul {
    top: 42px;
    width: 15rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .16), 0 0 9px 0 rgba(0, 0, 0, .16);
}

.stellarnav.light ul ul li + li {
    border-top: 1px solid var(--borderColor);
}

.stellarnav.light li li.has-sub > a::after {
    border-left-color: var(--borderColor);
}

.header-area:not(.fixed-top) {
    background-color: var(--headerBG);
}

.header-area.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.header-area.fixed-top.active{
    background-color: white;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

.slick-slide img {
    width: 100%;
    max-height: 100vh;
}

section.slider-block {
    margin-bottom: 50px;
}

.slick-next {
    right: 30px;
}

.slick-prev {
    left: 30px;
}

.slick-prev,
.slick-next {
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    font-size: 2rem;
    color: black;
}

section.product-detail div.layouter {
    margin-top: 30px;
    margin-bottom: 30px;
}

.pagination .page-item.active {
    background: var(--primary);
    border-color: var(--primary);
}

.pagination .page-item {
    border-color: var(--borderColor);
    border-width: 1px;
}

.social-login-links {
	display: flex;
	justify-content: center;
    align-items: center;
	gap: 15px;
	overflow: hidden;
    order: 1;
}

.social-login-links .link {
	min-width: auto !important;
	-webkit-border-radius: 5rem !important;
	-moz-border-radius: 5rem !important;
	border-radius: 5rem !important;
	width: 35px;
	height: 35px;
	line-height: 35px;
	padding: 0 0 0 3px !important;
	text-align: center;
}

.auth-content .login-form .social-login-links div.control-group,
.auth-content .social-login-links div.control-group {
    margin-bottom: 0 !important;
	width: auto !important;
}

.control-group label {
    color: inherit;
    font-weight: 400;
}

a:link, a:hover, a:visited, a:focus, a:active {
    color: inherit;
}

.auth-content .login-form .forgot-password-link {
    margin-bottom: 15px;
    font-size: inherit;
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
}

.auth-content .login-form .forgot-password-link *:empty {
    display: none;
}

.control-group .control-error {
    font-weight: 400;
    color: var(--errorColor);
}

.control-group.has-error .control {
    border-color: var(--errorColor);
}

.auth-content .login-form .btn-primary {
    font-weight: bold;
}

.auth-content .login-form {
    border: none;
    padding: 0;
}

.social-login-links .icon {
    margin: 0;
}


.social-login-links::before,
.social-login-links::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--bodyColor);
}

.auth-content {
    padding: 80px 0;
}

.auth-content .sign-up-text {
    margin-top: 15px;
    text-align: left;
    width: 100%;
    font-size: 1rem;
    color: inherit;
    font-weight: 400;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.auth-content .sign-up-text a{
    color: var(--primary);
}






.auth-content .login-form .login-text {
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid var(--borderColor);
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
}

.auth-content .login-form .login-text span::before {
    content: "";
    background-color: var(--primary);
    width: 150px;
    display: block;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -75px;
}

.auth-content .login-form .login-text i {
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    background-color: var(--bodyColor);
    opacity: .2;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid white;
    border-style: double;
}

.auth-content .login-form .login-text + p {
    margin-bottom: 30px;
    text-align: center;
}

.checkbox {
    margin: 0;
    font-weight: 400;
}

.checkbox a {
    color: var(--primary);
}

.checkbox input:checked+.checkbox-view {
    background-image: none !important;
    background-color: var(--primary);
    font-family: 'Line Awesome Free';
    font-weight: 900;
    color: white;
    font-size: 12px;
}

.checkbox input:checked+.checkbox-view::before{
    content: "\f00c";
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-content-inner {
    -webkit-box-shadow: 0 0 100px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0 100px rgba(0, 0, 0, .15);
    box-shadow: 0 0 100px rgb(0 0 0 / 15%);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    background-color: white;
    display: grid;
    align-items: center;
    margin: 0 auto;
    gap: 80px;
    padding: 2rem;
}

.auth-graphic {
    display: none;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.auth-content-inner .login-form {
    max-width: 100%;
}

.footer:not(.footer-copyright) .main-container-wrapper {
	position: relative;
	z-index: 1;
}

.footer:not(.footer-copyright)::before {
	content: "";
    width: 100%;
    height: 100%;
    background: var(--footerBG);
    display: block;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .95;
}

section.cart .title {
    font-weight: bold;
}

section.cart .cart-content {
    margin-top: 10px;
}


.account-content .menu-block .menubar {
    font-weight: 400;
    border: none;
    color: inherit;
    display: grid;
    row-gap: 5px;
}

.account-content .menu-block .menubar li {
    width: 100%;
    height: auto;
    margin: 0;
    border: none;
}

.account-content .menu-block .menubar li a {
    color: inherit;
    background-color: var(--sidebarBG);
    padding: .75rem 1rem .75rem 3.5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    border-radius: 5rem;
    position: relative;
}

.account-content .menu-block .menubar li.active a {
    background-color: var(--sidebarActiveBG);
    color: white;
}

.account-content .menu-block .menubar li a i {
    background: var(--primary);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5rem 0 0 5rem;
    font-size: 1rem;
    padding-left: 5px;
}


.account-content {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 30px;
}

.account-content .account-layout {
    width: 100%;
    margin-left: 0;
}

.account-content .sidebar {
    width: 30%;
}

.account-head .account-heading {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    color: var(--primary);
}

.la-people::before {
	content: '\f007';
}

.la-contact_mail::before {
	content: '\f3c5';
}

.la-rate_review::before {
	content: '\f086';
}

.la-playlist_add_check::before {
	content: '\f004';
}

.la-compare::before {
	content: '\f362';
}

.la-shopping_cart::before {
	content: '\f07a';
}

.la-cloud_download::before {
	content: '\f381';
}

.account-content .menu-block .menu-block-title {
    display: none;
}

.account-content::before {
    content: "";
    position: fixed;
    left: 0;
    width: 100%;
    display: block;
    height: 100%;
    background: white;
    top: 0;
    z-index: -1;
}

.account-head {
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.account-head .account-action {
    margin: 0;
    color: inherit;
    font-size: inherit;
}

.account-head .horizontal-rule {
    display: none;
}

.account-table-content {
    color: inherit;
    margin-top: 0;
    width: 100%;
}

.edit-form {
    padding: 0;
    border: none;
    gap: 15px;
}

.edit-form .button-group {
    margin-top: 0;
    margin-bottom: 0;
}


.modal-container .modal-header+.modal-body {
	padding-top: 0;
}

.modal-container .modal-body .page-action {
	margin-top: 5px;
}

.modal-container .modal-header h3 {
    color: inherit;
}