img {
  max-width: 100%;
  height: auto; }

hr {
  background-color: #b1b1b1; }

.btn-outline-primary:hover {
  color: white; }
.btn:focus {
  box-shadow: none; }
  .btn:focus:active {
    box-shadow: none; }

.advertisement img {
  border-radius: 0.5rem;
  width: 100%; }
  @media (min-width: 768px) {
    .advertisement img {
      max-height: 220px;
      height: 100%; } }
  @media (min-width: 992px) {
    .advertisement img {
      max-height: 400px; } }
@media (min-width: 768px) {
  .advertisement-row-2 img {
    max-height: 98px; } }
@media (min-width: 992px) {
  .advertisement-row-2 img {
    max-height: 188px; } }

.newsletter .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
.newsletter .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3) {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: none;
  font-weight: lighter; }
.newsletter .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-weight: 500; }

.category_style_3__category {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4.5rem 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: overlay;
  border-radius: 0.5rem; }
  .category_style_3__category:hover {
    color: white;
    text-decoration: none; }
.category_style_3 ul li a {
  font-size: 1.125rem;
  color: inherit; }
.category_style_3 i {
  font-size: 0.813rem;
  margin-right: 0.125rem; }

.footer_top_widget .no-padding {
  padding: 0; }
.footer_top_widget ul[type='none'] {
  padding: 0;
  list-style: none;
  margin: 0; }
  .footer_top_widget ul[type='none'] li + li {
    margin-top: .25rem; }
.footer_top_widget .social_media {
  gap: 0.35rem; }
  .footer_top_widget .social_media li {
    padding-left: 0; }
  .footer_top_widget .social_media a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 0.25rem;
    background-color: white;
    color: black !important;
    text-align: center; }
    .footer_top_widget .social_media a i {
      font-size: 1rem;
      margin: 0;
      position: static; }
.footer_top_widget i {
  font-size: 0.5rem;
  margin-right: 0.125rem; }
.footer_top_widget a {
  color: inherit; }
.footer_top_widget__logo {
  max-width: 150px; }
.footer_top_widget li {
  position: relative;
  padding-left: 1rem; }
  .footer_top_widget li i {
    position: absolute;
    top: 0.5rem;
    left: 0; }
.footer_bottom {
  background-color: #1b1d20; }

#scrollTop {
  display: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #00acc2;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 80px;
  right: 0;
  z-index: 100;
  border: none;
  padding: 0;
  border-radius: 0.5rem 0 0 0.5rem; }
  #scrollTop.active {
    display: block; }

.section_heading {
  position: relative;
  padding-bottom: 0.75rem;
  margin-bottom: 2rem; }
  .section_heading::before {
    content: "";
    width: 120px;
    height: 1px;
    background-color: #00acc2;
    position: absolute;
    left: 0;
    bottom: 0; }

.products-grid .product {
  position: relative; }
  .products-grid .product:hover .product_thumbnail_overlay {
    opacity: 1;
    visibility: visible; }
  .products-grid .product_thumbnail {
    border: 1px solid rgba(177, 177, 177, 0.5);
    border-radius: 1rem;
    height: 250px;
    position: relative;
    overflow: hidden; }
    .products-grid .product_thumbnail img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: calc(100% - 2rem);
      max-height: calc(100% - 2rem);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .products-grid .product_thumbnail_overlay {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      left: 0;
      width: 100%;
      height: 100%;
      top: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      transition: all 0.2s ease-in-out; }
      @media (prefers-reduced-motion: reduce) {
        .products-grid .product_thumbnail_overlay {
          transition: none; } }
  .products-grid .product_title {
    font-size: 1.125rem;
    color: black;
    font-weight: 400;
    position: relative; }
  .products-grid .product_price {
    font-size: 1.125rem; }

.recently-viewed-products .swiper-button-next,
.recently-viewed-products .swiper-button-prev {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  display: inline-flex;
  font-size: 1.25rem;
  color: #00acc2;
  margin-left: 0.5rem; }
  .recently-viewed-products .swiper-button-next:focus,
  .recently-viewed-products .swiper-button-prev:focus {
    outline: none; }
.recently-viewed-products .swiper-button-next.swiper-button-disabled,
.recently-viewed-products .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  color: black; }
.recently-viewed-products .swiper-button-next:after,
.recently-viewed-products .swiper-container-rtl .swiper-button-prev:after {
  content: "\f30b"; }
.recently-viewed-products .swiper-button-prev:after,
.recently-viewed-products .swiper-container-rtl .swiper-button-next:after {
  content: "\f30a"; }
.recently-viewed-products .swiper-button-next:after,
.recently-viewed-products .swiper-button-prev:after,
.recently-viewed-products .swiper-container-rtl .swiper-button-next:after,
.recently-viewed-products .swiper-container-rtl .swiper-button-prev:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: inherit; }

.shop_feature:hover .shop_feature_icon.fi_primary {
  background-color: #00acc2;
  border-color: #00acc2; }
.shop_feature:hover .shop_feature_icon.fi_dark {
  background-color: #22252a;
  border-color: #22252a; }
.shop_feature:hover .shop_feature_icon svg {
  fill: #ffffff; }
.shop_feature_icon {
  width: 70px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 5rem;
  transition: all 0.2s ease-in-out; }
  .shop_feature_icon.fi_primary {
    border: 1px solid #00acc2; }
  .shop_feature_icon.fi_dark {
    border: 1px solid rgba(177, 177, 177, 0.75); }
  @media (prefers-reduced-motion: reduce) {
    .shop_feature_icon {
      transition: none; } }
  .shop_feature_icon svg {
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media (prefers-reduced-motion: reduce) {
      .shop_feature_icon svg {
        transition: none; } }
@media (max-width: 991.98px) {
  .shop_feature h5 {
    font-size: 1rem; } }

.hot_cat_section {
  background-position: center;
  background-size: cover; }
  .hot_cat_section .section_heading::before {
    background-color: white;
    left: 50%;
    margin-left: -60px; }
  .hot_cat_section ul {
    font-size: 1.125rem; }
  .hot_cat_section a {
    color: inherit; }
  .hot_cat_section .col {
    border-left: 1px solid #038fa0;
    border-right: 1px solid #02bed5; }
    .hot_cat_section .col:first-child {
      border-left: none; }
    .hot_cat_section .col:last-child {
      border-right: none; }
    @media (max-width: 991.98px) {
      .hot_cat_section .col:nth-child(2) {
        border-right: none; }
      .hot_cat_section .col:nth-child(3) {
        border-left: none; } }

.grid-categories img {
  height: 100%;
  width: 100%;
  border-radius: 1rem; }
.grid-categories .col {
  position: relative; }
  .grid-categories .col > div {
    height: 100%;
    padding: 1.5rem;
    border-radius: 1rem; }
.grid-categories a {
  color: white; }
.grid-categories i {
  position: absolute;
  font-size: 5rem;
  top: 50%;
  margin-top: -40px;
  z-index: -1; }
  .grid-categories i.fa-caret-right {
    right: -10px; }
  .grid-categories i.fa-caret-left {
    left: -10px; }

.home-slider .swiper-slide img {
  width: 100%; }
.home-slider .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid black;
  width: 12px;
  height: 12px;
  opacity: 1; }
  .home-slider .swiper-pagination-bullet-active {
    background: black; }

.dropdown-menu {
  border-bottom: 5px solid #00acc2;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

.header_top {
  background-color: #f2f2f2; }
.header_middle .navbar-toggler:not(.collapsed) .fa-search {
  color: #00acc2; }
  .header_middle .navbar-toggler:not(.collapsed) .fa-search::before {
    content: "\f00d"; }
@media (max-width: 991.98px) {
  .header_middle .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem; }
  .header_middle .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
  .header_middle .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3) {
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem; } }
.header_middle .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
.header_middle .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3) {
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem; }
.header_middle .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem; }
.header_middle .input-group .form-control {
  height: 50px;
  border-color: #00acc2;
  padding-right: 90px; }
.header_middle .input-group .form-select {
  height: 50px;
  border-color: #00acc2; }
  @media (max-width: 991.98px) {
    .header_middle .input-group .form-select {
      width: 100%;
      border-radius: 0;
      margin-bottom: 10px; } }
  @media (min-width: 992px) {
    .header_middle .input-group .form-select {
      max-width: 170px; } }
.header_middle .input-group .btn {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50px;
  margin-left: 0 !important;
  z-index: 100;
  width: 80px;
  border-radius: 5rem !important; }
  @media (min-width: 992px) {
    .header_middle .input-group .btn {
      height: 100%;
      top: 0;
      bottom: auto; } }
.header_bottom .nav-link {
  color: white;
  font-size: 1.125rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }
  .header_bottom .nav-link:hover {
    background-color: #009db1; }

.nav-wcc {
  gap: 0.5rem;
  flex-wrap: nowrap; }
  .nav-wcc .nav-link {
    font-weight: 300;
    color: black;
    position: relative; }
    .nav-wcc .nav-link span {
      display: block;
      text-align: center; }
      .nav-wcc .nav-link span.count {
        border: 1px solid black;
        border-radius: 5rem;
        font-size: 0.75rem;
        background-color: white;
        display: inline-block;
        width: 1.25rem;
        height: 1.25rem;
        line-height: 1.25rem;
        font-weight: 400;
        position: absolute;
        top: 0;
        z-index: 1; }
      .nav-wcc .nav-link span.icon {
        font-size: 1.25rem;
        color: #00acc2; }

.mini-cart .cart-item-thumb {
  width: 70px;
  height: 70px;
  display: block; }
.mini-cart .cart-item img {
  display: block; }
.mini-cart .cart-item .btn {
  font-size: 1.25rem; }
.mini-cart-item-list {
  max-height: 250px;
  overflow-y: auto; }
  .mini-cart-item-list::-webkit-scrollbar {
    width: 5px; }
  .mini-cart-item-list::-webkit-scrollbar-track {
    background: #ffffff; }
  .mini-cart-item-list::-webkit-scrollbar-thumb {
    background: #b1b1b1; }

.navbar-toggler:focus {
  box-shadow: none; }

.floating-menu .list-group-horizontal > .list-group-item:first-child {
  border-bottom-left-radius: 0; }
.floating-menu .list-group-horizontal > .list-group-item:last-child {
  border-top-right-radius: 0; }
.floating-menu .list-group-horizontal .active svg {
  fill: #ffffff !important; }
.floating-menu .list-group-horizontal .active .count {
  border-color: white;
  color: white; }
.floating-menu .list-group-horizontal .count {
  position: absolute;
  top: 8px;
  right: 16px;
  border: 1px solid #00acc2;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  border-radius: 5rem;
  z-index: 1;
  font-size: 0.75rem;
  color: #00acc2; }

.stellarnav {
  font-size: 1.125rem;
  font-weight: 300; }
  .stellarnav .icon-close {
    margin-right: .5rem; }
  .stellarnav ul {
    z-index: 9999; }
    .stellarnav ul ul {
      width: 18rem; }
      .stellarnav ul ul ul {
        left: 18rem; }
  .stellarnav .menu-toggle {
    min-height: 50px; }
    @media (max-width: 991.98px) {
      .stellarnav .menu-toggle + ul {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); } }
    .stellarnav .menu-toggle span.bars {
      margin-right: 0; }
  .stellarnav .btn-all {
    border-radius: 0 2rem 2rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    font-size: 1.125rem;
    font-weight: 500; }
    .stellarnav .btn-all i {
      font-size: 80%; }
    @media (max-width: 991.98px) {
      .stellarnav .btn-all + ul {
        display: block !important; } }
  .stellarnav.light {
    background-color: transparent; }
    .stellarnav.light .menu-toggle {
      background-color: #22252a; }
      .stellarnav.light .menu-toggle span.bars span {
        background-color: white; }
    @media (min-width: 992px) {
      .stellarnav.light li li + li {
        border-top: 1px solid rgba(177, 177, 177, 0.5); } }
    .stellarnav.light li li.has-sub > a::after {
      border-left-color: #b1b1b1; }
    @media (max-width: 991.98px) {
      .stellarnav.light li li.has-sub ul {
        background-color: rgba(177, 177, 177, 0.15); } }
    @media (min-width: 992px) {
      .stellarnav.light ul ul {
        -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        border-bottom: 5px solid #00acc2; } }

.form-control,
.form-select {
  height: 2.625rem; }

.auth-container {
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 100px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.15);
  border-radius: 1rem; }
.auth-title {
  position: relative; }
  .auth-title::before, .auth-title::after {
    content: "";
    height: 1px;
    display: block;
    bottom: 0;
    position: absolute; }
  .auth-title::before {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    left: 0; }
  .auth-title::after {
    background-color: #00acc2;
    width: 150px;
    left: 50%;
    margin-left: -75px; }
@media (max-width: 991.98px) {
  .auth-graphic {
    display: none; } }
.auth-graphic-content {
  width: 400px;
  height: 400px;
  line-height: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  border: 10px solid rgba(0, 172, 194, 0.35);
  border-radius: 50rem; }
  .auth-graphic-content img {
    max-width: 300px; }
    @media (min-width: 992px) {
      .auth-graphic-content img {
        max-width: 375px; } }
  @media (min-width: 1200px) {
    .auth-graphic-content {
      width: 500px;
      height: 500px;
      line-height: 500px; } }
.auth-content {
  background-color: white;
  border-radius: 0 1rem 1rem 0; }

.input-group-password.active .fa-eye-slash::before {
  content: "\f06e"; }
.input-group-password .btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1020; }

.page-content h2 {
  margin-bottom: 2rem; }
.page-content p {
  margin-bottom: 1.5rem; }

.order-success-content p {
  font-size: 1.125rem; }
.order-success-content h1 {
  font-size: 3rem; }

.table-compare {
  table-layout: fixed; }
  .table-compare .btn-remove {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    width: 20px;
    height: 20px;
    line-height: 1; }
  .table-compare th, .table-compare td {
    padding: 1rem; }

.wishlist-thumbnail {
  display: block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  padding: .5rem;
  text-align: center;
  line-height: 84px; }
.wishlist .btn-add-to-cart {
  width: 150px; }
.wishlist > .d-flex + .d-flex {
  border-top: none !important; }

@media (min-width: 992px) {
  .customer-sidebar {
    display: block !important; } }
.customer-sidebar a {
  display: block;
  padding: .75rem 1.5rem;
  color: black;
  transition: all 0.2s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .customer-sidebar a {
      transition: none; } }
  .customer-sidebar a svg {
    margin-right: .5rem; }
  .customer-sidebar a:hover {
    text-decoration: none;
    background-color: rgba(177, 177, 177, 0.15); }
  .customer-sidebar a.active {
    color: white;
    background-color: #22252a; }
    .customer-sidebar a.active svg {
      fill: #ffffff; }
.customer-sidebar.show + a {
  display: none; }
.customer-sidebar + a {
  text-decoration: none;
  padding: .75rem 1.5rem;
  color: white;
  display: block;
  background-color: #22252a; }
  .customer-sidebar + a svg {
    margin-right: .5rem;
    fill: #ffffff; }

.user-wishlist-wrapper table thead {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent; }

.align-middle th,
.align-middle td {
  vertical-align: middle; }

.rating {
  font-size: .875rem; }

.user-reviews-wrapper .shadow {
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.15) !important; }

.order-status-table.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #DEE2E6; }
@media (min-width: 768px) {
  .order-status-table th, .order-status-table td {
    padding: 1rem; } }

.order-progressbar {
  overflow: hidden;
  padding: 0; }
  .order-progressbar li {
    width: 25%;
    float: left;
    position: relative;
    list-style: none;
    font-size: .875rem; }
    .order-progressbar li.active {
      font-weight: bold; }
      .order-progressbar li.active::before, .order-progressbar li.active::after {
        background-color: #00acc2; }
    .order-progressbar li.step1::before {
      content: "\f15c"; }
    .order-progressbar li.step2::before {
      content: "\f46c"; }
    .order-progressbar li.step3::before {
      content: "\f48b"; }
    .order-progressbar li.step4::before {
      content: "\f00c"; }
    .order-progressbar li::before, .order-progressbar li::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: white;
      background-color: #b1b1b1; }
    .order-progressbar li::before {
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      display: block;
      font-size: 1.25rem;
      margin: 0 auto .5rem auto;
      padding: 0px;
      border-radius: 50rem; }
    .order-progressbar li::after {
      content: '';
      width: 100%;
      height: 6px;
      position: absolute;
      left: -50%;
      top: calc(1.5rem - 3px);
      z-index: -1; }
    .order-progressbar li:first-child::after {
      left: 50%; }

.cart-item-thumbnail {
  border-radius: 1.5rem; }
.cart-item .input-group .form-control {
  -moz-appearance: textfield; }
  .cart-item .input-group .form-control::-webkit-outer-spin-button, .cart-item .input-group .form-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }

#checkout > .step-content {
  border: none;
  padding: 0; }
#checkout > .step-footer {
  margin: 0; }
@media (max-width: 991.98px) {
  #checkout > .step-steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem; } }
#checkout > .step-steps > li {
  border: none;
  color: inherit;
  padding: 0;
  background-color: transparent;
  font-weight: bold; }
  #checkout > .step-steps > li:hover {
    background-color: transparent; }
  #checkout > .step-steps > li span {
    width: 3rem;
    height: 3rem;
    border: 1px solid rgba(177, 177, 177, 0.5);
    display: inline-block;
    line-height: 3rem;
    text-align: center;
    margin-right: .25rem;
    border-radius: 0.5rem; }
    #checkout > .step-steps > li span svg {
      fill: #00acc2; }
  #checkout > .step-steps > li.active span {
    border-color: #00acc2; }
    #checkout > .step-steps > li.active span svg {
      fill: #00acc2; }
  #checkout > .step-steps > li.done span {
    background-color: #00acc2; }
    #checkout > .step-steps > li.done span svg {
      fill: #ffffff; }
#checkout .form-check.customized .form-check-label {
  cursor: pointer;
  border-color: #ced4da;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); }
#checkout .form-check.customized .form-check-input {
  margin-top: 1.35rem; }
  #checkout .form-check.customized .form-check-input:checked + .form-check-label {
    border-color: #00acc2 !important; }

.checkout-sidebar-table.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #DEE2E6; }
.checkout-sidebar-table th, .checkout-sidebar-table td {
  padding: 1rem 0; }

.table-review-address th, .table-review-address td {
  padding: .25rem 0; }

.is-invalid + .is-invalid,
.form-check + .is-invalid {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #DC3545; }

.was-validated .form-check-input:invalid ~ .form-check-label,
.form-check-input.is-invalid ~ .form-check-label {
  color: inherit;
  border-color: #DC3545 !important; }

.was-validated .form-check-input:invalid,
.form-check-input.is-invalid {
  border-color: rgba(0, 0, 0, 0.25); }

.checkout-products-table th {
  border-bottom-color: transparent !important; }
.checkout-products-table td {
  padding-top: 1rem;
  padding-bottom: 1rem; }
.checkout-products-table th:first-child,
.checkout-products-table td:first-child {
  padding-left: 0; }
.checkout-products-table th:last-child,
.checkout-products-table td:last-child {
  padding-left: 0; }
.checkout-products-table .thumbnail {
  width: 80px;
  height: 80px;
  display: block;
  padding: 10px;
  border: 1px solid rgba(177, 177, 177, 0.5);
  line-height: 55px;
  text-align: center; }
  .checkout-products-table .thumbnail img {
    display: block;
    max-height: 60px;
    margin: 0 auto; }

.btn-check:checked + .btn,
.btn-check:active + .btn,
.btn:active, .btn.active {
  box-shadow: none;
  color: #00acc2; }

.widget_heading {
  position: relative;
  padding-bottom: 0.75rem;
  margin-bottom: 2rem; }
  .widget_heading::before, .widget_heading::after {
    content: "";
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0; }
  .widget_heading::before {
    width: 100px;
    background-color: #00acc2; }
  .widget_heading::after {
    width: 100%;
    background-color: rgba(177, 177, 177, 0.5); }
.widget .size_picker label {
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  margin-bottom: 10px;
  margin-right: 6px;
  font-size: 14px; }
.widget .brand_picker label {
  width: 70px;
  height: 70px;
  line-height: 60px;
  padding: 3px;
  margin-bottom: 10px;
  margin-right: 6px;
  font-size: 14px; }
.widget .categories > ul > li + li {
  margin-top: 1rem; }
.widget .categories li {
  position: relative; }
  .widget .categories li:hover > a {
    color: #00acc2; }
  @media (min-width: 992px) {
    .widget .categories li:hover > ul {
      display: block; } }
  .widget .categories li.active > a {
    font-weight: bold;
    color: #00acc2; }
    .widget .categories li.active > a::before {
      content: "\f0da";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: .5rem; }
  .widget .categories li a {
    color: inherit;
    display: block;
    text-decoration: none; }
    .widget .categories li a:hover {
      color: #00acc2; }
  .widget .categories li ul {
    border: 1px solid rgba(177, 177, 177, 0.5);
    border-top-color: #00acc2;
    display: none; }
    @media (min-width: 992px) {
      .widget .categories li ul {
        position: absolute;
        left: 100%;
        top: -1px;
        background-color: white;
        z-index: 1;
        width: 200px; } }
    .widget .categories li ul a {
      border-bottom: 1px solid rgba(177, 177, 177, 0.5);
      padding: .25rem .5rem; }
    .widget .categories li ul li:last-child a {
      border-bottom: none; }

.range_slider_min, .range_slider_max {
  width: 60px;
  border: none;
  padding: 0;
  outline: none;
  font-weight: bold; }
.range_slider_min {
  text-align: right; }

.ui-slider-horizontal {
  border: none !important;
  height: 3px;
  width: 100%;
  background-color: rgba(177, 177, 177, 0.5); }
  .ui-slider-horizontal .ui-slider-handle {
    border-radius: 5rem;
    background-color: #00acc2;
    border: none;
    top: -8px;
    outline: none;
    cursor: pointer; }

.ui-widget-header {
  background-color: #00acc2; }

@media (max-width: 991.98px) {
  .shop_sidebar_filter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
    overflow-y: auto;
    height: 100%;
    padding-top: 4rem;
    padding-bottom: 3rem; } }

.upselling-products .swiper-button-next,
.upselling-products .swiper-button-prev,
.related-products .swiper-button-next,
.related-products .swiper-button-prev {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  display: inline-flex;
  font-size: 1.25rem;
  color: #00acc2;
  margin-left: 0.5rem; }
  .upselling-products .swiper-button-next:focus,
  .upselling-products .swiper-button-prev:focus,
  .related-products .swiper-button-next:focus,
  .related-products .swiper-button-prev:focus {
    outline: none; }
.upselling-products .swiper-button-next.swiper-button-disabled,
.upselling-products .swiper-button-prev.swiper-button-disabled,
.related-products .swiper-button-next.swiper-button-disabled,
.related-products .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  color: black; }
.upselling-products .swiper-button-next:after,
.upselling-products .swiper-container-rtl .swiper-button-prev:after,
.related-products .swiper-button-next:after,
.related-products .swiper-container-rtl .swiper-button-prev:after {
  content: "\f35a"; }
.upselling-products .swiper-button-prev:after,
.upselling-products .swiper-container-rtl .swiper-button-next:after,
.related-products .swiper-button-prev:after,
.related-products .swiper-container-rtl .swiper-button-next:after {
  content: "\f359"; }
.upselling-products .swiper-button-next:after,
.upselling-products .swiper-button-prev:after,
.upselling-products .swiper-container-rtl .swiper-button-next:after,
.upselling-products .swiper-container-rtl .swiper-button-prev:after,
.related-products .swiper-button-next:after,
.related-products .swiper-button-prev:after,
.related-products .swiper-container-rtl .swiper-button-next:after,
.related-products .swiper-container-rtl .swiper-button-prev:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: inherit; }

.product_color_picker .btn-check:checked + label {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75); }
.product_color_picker label {
  text-indent: -9999px;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 0.25rem; }

.xzoom {
  box-shadow: none; }
  @media (min-width: 992px) {
    .xzoom-container {
      max-width: 350px; } }
  @media (min-width: 1200px) {
    .xzoom-container {
      max-width: 450px; } }
  .xzoom-container .xactive {
    box-shadow: none; }
  .xzoom-container .swiper-button-next,
  .xzoom-container .swiper-button-prev {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    display: inline-flex;
    font-size: 1.25rem;
    color: #00acc2;
    margin-left: 0.5rem; }
    .xzoom-container .swiper-button-next:focus,
    .xzoom-container .swiper-button-prev:focus {
      outline: none; }
  .xzoom-container .swiper-button-next.swiper-button-disabled,
  .xzoom-container .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    color: black; }
  .xzoom-container .swiper-button-next:after,
  .xzoom-container .swiper-container-rtl .swiper-button-prev:after {
    content: "\f30b"; }
  .xzoom-container .swiper-button-prev:after,
  .xzoom-container .swiper-container-rtl .swiper-button-next:after {
    content: "\f30a"; }
  .xzoom-container .swiper-button-next:after,
  .xzoom-container .swiper-button-prev:after,
  .xzoom-container .swiper-container-rtl .swiper-button-next:after,
  .xzoom-container .swiper-container-rtl .swiper-button-prev:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: inherit; }
  @media (min-width: 992px) {
    .xzoom-image-wrapper {
      border-radius: 1rem;
      height: 350px; } }
  @media (min-width: 1200px) {
    .xzoom-image-wrapper {
      height: 450px; } }
  .xzoom-preview {
    z-index: 100; }
  .xzoom-gallery {
    padding: 5px;
    margin: 0; }

/*# sourceMappingURL=style.css.map */
