nav.greedy {
  position: relative;
  display: flex;
}

nav.greedy ul.links {
  flex: 1;
}

nav.greedy ul.hidden-links {
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  margin: 0;
  padding: 0.25rem 0;
  background-color: white;
  z-index: 999;
  min-width: 18rem;
  border-bottom: 5px solid #00acc2;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

nav.greedy ul.hidden-links a {
  color: black;
  padding: 0.5rem 1rem;
}

nav.greedy ul.hidden-links a:hover {
  color: #00acc2;
  background-color: transparent;
}

nav.greedy ul.hidden-links.hidden {
  display: none;
}

nav.greedy button {
  align-self: stretch;
  border: none;
  text-transform: capitalize;
  background-color: #009db1;
  color: white;
  font-weight: 300;
  font-size: 1.125rem;
  padding: 0.75rem 1rem;
  margin-right: 10px;
}

nav.greedy button.hidden {
  display: none;
}

/* nav.greedy button::after {
  content: attr(count);
  display: inline-flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  background-color: #006774;
  color: #fff;
  border-radius: 5rem;
  font-size: 12px;
  line-height: 25px;
  margin-left: 12px;
  margin-right: calc(-1rem + -8px);
} */